.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
  margin: 0 .5rem 2.3rem .5rem;
  border: 1px solid #eee;
  border-radius: 6px;
  transition: all ease-in-out .2s;
}

.restaurant:hover {
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.restaurant .image-container {
  height: 10rem;
}

.restaurant h2 {
  color:#a7080b;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.restaurant .area {
  font-weight: 300;
  margin-top:.2rem;
}

.restaurant-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.restaurant-information p {
  line-height: 1.25rem;
}

.restaurant-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-address h3 {
  margin-top:.75rem;
  font-weight: 300;
}

.restaurant-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.restaurant-price h3 {
  font-size: .88rem;
  line-height: 1rem;
  color: #333; 
  font-weight: 600;
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
}

@media only screen and (min-width: 575px) {
  .restaurant .image-container {
    height: 14rem;
  }
}